@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  background: rgb(19, 19, 19);
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  margin: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-color: rgb(36, 243, 147);
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.animated-grid {
  height: 85vh;
  display: grid;
  margin-bottom: 200px;
  gap: 1rem;
  grid-template-areas:
    'a  b  c  d'
    'l  🌟 🌟 e'
    'k  🌟 🌟 f'
    'j  i  h  g';
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 240px auto auto 240px;
}

.card:first-child {
  grid-area: a;
}
.card:nth-child(2) {
  grid-area: b;
}
.card:nth-child(3) {
  grid-area: c;
}
.card:nth-child(4) {
  grid-area: d;
}
.card:nth-child(5) {
  grid-area: e;
}
.card:nth-child(6) {
  grid-area: f;
}
.card:nth-child(7) {
  grid-area: g;
}
.card:nth-child(8) {
  grid-area: h;
}
.card:nth-child(9) {
  grid-area: i;
}
.card:nth-child(10) {
  grid-area: j;
}
.card:nth-child(11) {
  grid-area: k;
}
.card:nth-child(12) {
  grid-area: l;
}
.card:last-child {
  grid-area: 🌟;
}
